# Byte-compiled / optimized / DLL files
__pycache__/

# Notebook
.ipynb_checkpoints
profile_default/
ipython_config.py

# Streamlit secrets

.direnv
.envrc
__pycache__
.mypy_cache

.tox/

.streamlit/secrets.toml

# Ignore all pngs except logo.png, so that screenshots are ignored by git
*.png
!logo.png

.venv
